/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes like {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(10px);
  }

  30% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(2px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    background-color: red;
    /* transform: translateY(10px); */
  }
}

@keyframes like-button-fill {
  0% {
    transition: scale(1, 1);
    background-color: blue;
  }

  100% {
    transition: scale(1, 1);
    background-color: blue;
  }
}
