/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-color: var(--background-color-secondary, #000);
  background-image: repeating-linear-gradient(
      90deg,
      var(--background-color-secondary, #d3d3d3) 0 0.2rem,
      #0000 0.2rem 0.4rem
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-secondary, #d3d3d3) 0 0.2rem,
      #0000 0.2rem 0.4rem
    ),
    linear-gradient(
      180deg,
      var(--gradient-main-color, #e7e7e7)
        var(--background-gradient-start, 0.01%),
      var(--gradient-secondary-color, #1a1a1a) 100%
    );
  background-position: center;
  background-size: cover;
  color: var(--themes-main-color, #000);
  font-family: var(--font-inter, 'Courier New', monospace);
  font-size: 1.6rem;
  font-variation-settings: 'wght' var(--font-main-weight, 400);
  font-weight: var(--font-main-weight, 400);
  min-block-size: 100dvb;
  padding-block-start: 10.2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem solid var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
  font-family: var(--font-pressstart2p, 'Courier New', monospace);
  font-weight: normal;
  gap: 2.4rem;
  margin-block-end: 10rem;
  min-inline-size: clamp(37.5rem, 100%, 70rem);
  padding-block-end: 1.5rem;
  padding-block-start: 13.3rem;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1rem;
}

.header__title {
  font-size: 6.5rem;
  font-weight: 400;
}

.header__text {
  font-size: 2.3rem;
  text-transform: uppercase;
}

.header__text_lowercase {
  text-transform: lowercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-block-end: 1rem;
}

.theme-menu__button {
  display: grid;
  border: none;
  background-color: transparent;
  block-size: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  grid-template-columns: repeat(2, auto);
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__button::after {
  background-color: var(--themes-main-color);
  block-size: 0.2rem;
  content: '';
  inline-size: 100%;
  opacity: 1;
  scale: 0;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  scale: 1;
  transform-origin: 0%;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button::before {
  position: relative;
  animation: nav-pointer-wiggle 0.5s ease-in-out infinite alternate;
  block-size: 1.3rem;
  content: '▶';
  grid-row: span 2;
  inline-size: 1.6rem;
  opacity: 0;
  padding-inline-end: 1.6rem;
}

.theme-menu__button:disabled,
.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before,
.theme-menu__button[disabled]::before {
  opacity: 1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.card {
  position: relative;
  border: 0.2rem solid var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
  max-inline-size: 70rem;
}

.watermark::before {
  position: absolute;
  z-index: 1;
  content: '';
  font-family: var(--font-pressstart2p, 'Courier New', monospace);
  font-size: 14px;
  inset-block-start: 5.9rem;
  inset-inline-end: 2.3rem;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    0.1rem 0.1rem var(--themes-background, #fff),
    -0.1rem -0.1rem var(--themes-background, #fff),
    -0.1rem 0.1rem var(--themes-background, #fff),
    0.1rem -0.1rem var(--themes-background, #fff);
}

.watermark-html::before {
  content: '</HTML>';
}

.watermark-css::before {
  content: '<CSS>';
}

.watermark-desisions::before {
  content: '<desigions>';
}

.watermark-care::before {
  content: 'care';
}

.watermark-support::before {
  content: '<support>';
}

.watermark-lifestyle::before {
  content: '<lifes-style: none;>';
}

.watermark-experience::before {
  content: '<experience>';
}

.card__title {
  padding: 0.5rem 2.4rem 0.5rem 1rem;
  border-block-end: 0.2rem solid var(--themes-main-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: var(--font-secondary-weight, 700);
  line-height: normal;
}

.card__img-container {
  display: flex;
}

.card__image-what-if {
  filter: saturate(350%);
}

.card__image-blank-list {
  filter: saturate(20%) brightness(1.2);
}

.card__image-chasing-idol {
  filter: hue-rotate(30deg);
}

.card__image-whos-close {
  filter: invert(80%);
}

.card__image-shortcut-tactics {
  filter: sepia(90%) grayscale(10%);
}

.card__image-giving-up {
  filter: blur(2rem);
}

.card__image-here-i-am {
  filter: saturate(250%) hue-rotate(110deg) blur(0.2rem) brightness(80%)
    contrast(50%);
}

.card__img {
  aspect-ratio: 1 / 1;
  block-size: 69.6rem;
  inline-size: 100%;
  object-fit: cover;
  object-position: 96%;
}

.about-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

.card__about {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-block-start: 0.2rem solid var(--themes-main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-main-weight, 400);
  gap: 2.5rem;
  line-height: 2.1rem;
}

.card__like-button-wrapper {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 0.6rem;
}

.card__icon-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  position: relative;
  inset-inline-start: 0.1rem;
}

.card__icon-button:focus-visible {
  outline: 0.2rem solid var(--themes-main-color, #000);
}

.is-liked {
  animation: like ease forwards 0.6s;
}

.card__like-button {
  align-self: end;
  padding: 0.9rem 1.7rem;
  border: 0.2rem solid var(--themes-main-color);
  background-color: transparent;
  block-size: 3.8rem;
  box-shadow: inset 0 0 0 0 var(--themes-main-color, #000);
  font-family: var(--font-pressstart2p, 'Courier New', monospace);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  inline-size: 13rem;
  line-height: 1.26rem;
  transition: 0.5s ease-in-out;
}

.button-effect:focus {
  outline: none;
}

.button-effect:hover {
  box-shadow: inset 13rem 0 0 0 var(--themes-main-color, #000);
  color: var(--themes-background, #fff);
  cursor: pointer;
}

.button-effect:focus-visible {
  box-shadow: var(--themes-main-color) 0.4rem 0.4rem;
  color: var(--themes-main-color, #000);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 5rem 2rem;
  background-color: transparent;
  min-block-size: 20.8rem;
  min-inline-size: clamp(37.5rem, 100%, 70rem);
}

.svg-floppy {
  width: 4.2rem;
  height: 1.9rem;
  object-position: left;
}

.footer__button-save {
  display: flex;
  align-items: center;
  border: 0.2rem solid var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
  block-size: 5.5rem;
  box-shadow: inset 0 0 0 0 var(--themes-main-color, #000);
  font-family: var(--font-pressstart2p, 'Courier New', monospace);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  inline-size: 33.9rem;
  line-height: 1.26rem;
  padding-inline-end: 0.2rem;
  transition: 0.5s ease-out;
}

.footer__button-save_animated:hover {
  box-shadow: inset 33.9rem 0 0 0 var(--themes-main-color, #000);
}

.modal {
  border: 0.2rem solid var(--themes-main-color);
  margin: 0 auto;
  background-color: var(--themes-background, #fff);
  block-size: 19.3rem;
  font-family: var(--font-pressstart2p, 'Courier New', monospace);
  inline-size: 35.7rem;
  padding-block: 2.8rem;
  padding-inline: 3rem;
  transform: translateY(150%);
}

.modal__title {
  color: var(--themes-main-color, #000);
  font-size: 1.4rem;
  font-weight: 400;
}

.modal__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.modal__inner-container {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  gap: 2rem;
  line-height: 2.1rem;
  text-transform: uppercase;
}

.modal__svg-floppy {
  width: 8rem;
  height: 8rem;
  color: var(--themes-main-color, #000);
}

.modal__button {
  padding: 0.9rem 1.7rem;
  border: 0.2rem solid var(--themes-main-color);
  background-color: transparent;
  block-size: 3.8rem;
  box-shadow: inset 0 0 0 0 var(--themes-main-color, #000);
  color: var(--themes-main-color, #000);
  font-size: 1.4rem;
  font-weight: 400;
  inline-size: 29.3rem;
  line-height: 1.26rem;
  text-transform: uppercase;
  transition: 0.5s ease-out;
}

.modal__button_animated:hover {
  box-shadow: inset 29.3rem 0 0 0 var(--themes-main-color, #000);
}

.dialog {
  position: fixed;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-width: 0;
  background-color: #000000bf;
  block-size: 100vb;
  inline-size: 100vi;
  inset: 0;
  max-block-size: 100vb;
  max-inline-size: 100vi;
}

.close-dialog-button {
  position: absolute;
  background-color: var(--themes-background, #fff);
  font-family: var(--font-pressstart2p, 'Courier New', monospace);
  inset: calc(50% + 3.15rem) calc(50% - calc(29.3rem / 2) + 0.1rem) auto auto;
}

@media (width < 1440px) {
  .header {
    min-inline-size: clamp(37.5rem, 90%, 62.6rem);
  }

  .header__title {
    font-size: clamp(4.9rem, 4.3361rem + 0.1504vw, 6.5rem);
  }

  .header__text {
    font-size: clamp(1.4rem, 1.0828rem + 0.0846vw, 2.3rem);
  }

  .card {
    inline-size: clamp(37.1rem, 90%, 70rem);
  }

  .card__img {
    block-size: 100%;
  }

  .footer {
    min-inline-size: clamp(37.5rem, 90%, 63rem);
  }

  .footer__button-save {
    flex-direction: column;
    padding: 1.5rem 0;
    block-size: 8rem;
    gap: 0.8rem;
    inline-size: clamp(31rem, 90%, 33.9rem);
  }

  .modal__button {
    align-self: center;
  }
}

@media (width <= 375px) {
  .page {
    padding-block-start: 10rem;
  }

  .header {
    gap: 2.2rem;
    min-block-size: 32.3rem;
    min-inline-size: 37.5rem;
    padding-block-start: 11.8rem;
  }

  .header__title {
    font-size: 4.9rem;
    padding-block-start: 0.4rem;
  }

  .theme-menu__list {
    padding-block-end: 0.8rem;
  }

  .card {
    inline-size: 37.5rem;
  }

  .footer__button-save {
    gap: 0.8rem;
    padding-block-end: 0;
  }

  .svg-floppy {
    block-size: 3.9rem;
    inline-size: 3.9rem;
  }

  .footer__text-save {
    padding-block-end: 0.8rem;
  }

  .close-dialog-button {
    /* inline-size: clamp(25.7rem, 85%, 29.3rem); */
    /* inset: calc(calc(50% - 0.4rem) - 0.2rem)
      calc(50% - calc(29.3rem / 2) + 0.1rem) auto auto; */
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark::before {
    text-shadow: none;
    -webkit-text-stroke: 0.1rem var(--themes-background, #fff);
    text-stroke: 0.1rem var(--themes-background, #fff);
  }
}

@supports (
  (font-variation-settings: 'wght' var(--font-main-weight)) or
    (font-variation-settings: 'wght' normal)
) {
  .page {
    font-variation-settings: 'wght' var(--font-main-weight);
  }
}
