/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

html.theme-light {
  --themes-main-color: #000;
  --themes-background: #fff;
  --themes-main-color-hover: #0009;
  --gradient-main-color: #e7e7e7;
  --gradient-secondary-color: #1a1a1a;
  --background-color-secondary: #d3d3d3;
  --font-main-weight: 400;
  --font-secondary-weight: 700;
  --background-gradient-start: 0.01%;
  --contour-heart-color: #000;
  --sparks-heart-color: #f00;
  --heart-color: #f00;
}

html.theme-light .page {
  font-variation-settings: 'wdth' var(--font-main-weight, 400);
}

html.theme-light .card__title {
  font-variation-settings: 'wdth' var(--font-secondary-weight, 700);
}

html.theme-light .theme-menu__button:disabled::before,
html.theme-light .theme-menu__button[disabled]::before {
  color: var(--themes-main-color, #000);
}

html.theme-dark {
  --themes-main-color: #00cc14;
  --themes-background: #000;
  --themes-main-color-hover: #00cc1499;
  --gradient-main-color: #007f0c;
  --gradient-secondary-color: #004306;
  --background-color-secondary: #000;
  --font-main-weight: 465;
  --font-secondary-weight: 785;
  --background-gradient-start: 0%;
  --contour-heart-color: #00cc14;
  --sparks-heart-color: #f00;
  --heart-color: #f00;
}

html.theme-dark .page {
  font-variation-settings: 'wdth' var(--font-main-weight, 465);
}

html.theme-dark .card__title {
  font-variation-settings: 'wdth' var(--font-secondary-weight, 785);
}

html.theme-dark .theme-menu__button:disabled::before,
html.theme-dark .theme-menu__button[disabled]::before {
  color: var(--themes-main-color, #00cc14);
}

@media (prefers-color-scheme: dark) {
  :root {
    --themes-main-color: #00cc14;
    --themes-background: #000;
    --themes-main-color-hover: #00cc1499;
    --gradient-main-color: #007f0c;
    --gradient-secondary-color: #004306;
    --background-color-secondary: #000;
    --font-main-weight: 465;
    --font-secondary-weight: 785;
    --background-gradient-start: 0%;
    --contour-heart-color: #00cc14;
    --sparks-heart-color: #f00;
  }

  :root .page {
    font-variation-settings: 'wdth' var(--font-main-weight, 465);
  }

  :root .card__title {
    font-variation-settings: 'wdth' var(--font-secondary-weight, 785);
  }

  :root .theme-menu__button:disabled::before,
  :root .theme-menu__button[disabled]::before {
    color: var(--themes-main-color, #00cc14);
  }
}
