/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --themes-main-color: #000;
  --themes-background: #fff;
  --font-inter: 'Inter';
  --font-pressstart2p: 'Press Start 2P';
  --image-background: url(../images/image.png);
  --themes-main-color-hover: #0009;
  --gradient-main-color: #e7e7e7;
  --gradient-secondary-color: #1a1a1a;
}
